<!-- Archivo donde estan los bloques del home -->
{% extends "base.html" %}

{% load staticfiles %}

<!-- Bloque para scripts que se cargan en la plantilla base -->
{% block scripts %}

<!-- Estilos del index -->
<link rel="stylesheet" type="text/css" href="{% static 'files/css/home.css' %}">

{% endblock scripts %}

<!-- Header del home-->
{% block header_home %}

	<div class="container-fluid">

		<!-- Carrousel del header -->
		<div class="carrousel container">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
                        {%for imagen in imagenes%}
    						<div class="item {%if forloop.counter == 1%}active{%endif%}">
        						<img src="{{imagen.imagen.url}}" alt="">
        						<div class="carousel-caption">
        							<p>{{imagen.nombre}}</p>
        						</div>
    						</div>
                        {%empty%}
                            <div class="item active">
                                <img src="{% static 'files/img/imagen-carrousel.png' %}" alt="">
                                <div class="carousel-caption">
                                    <p></p>
                                </div>
                            </div>
                        {%endfor%}
					</div>

					<!-- Controls -->
					<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock header_home%}

<!-- Boque del contenido de la pagina -->
{% block content %}
    <div class="banners row">
        <div class="banners col-lg-3">
            {%for banner in banners%}
                <a class="banner-superior" href="{{banner.url}}">
                    <img class="img-responsive" src="{{banner.imagen.url}}" alt="">
                </a>
            {%empty%}
            <a class="banner-superior" href="">
                <img class="img-responsive" src="{% static 'files/img/banner-superior.png' %}" alt="">
            </a>
            <a class="banner-medio" href="">
                <img class="img-responsive" src="{% static 'files/img/banner-medio.png' %}" alt="">
            </a>
            <a class="banner-inferior" href="">
                <img class="img-responsive" src="{% static 'files/img/banner-medio.png' %}" alt="">
            </a>
            <a class="revista" href="">
            <img class="img-responsive" src="{% static 'files/img/revista.png' %}" alt="">
            </a>
            {%endfor%}
        </div>

        <!-- Contenido de la pagina -->
        <div class="contenido col-lg-9">
        	<div class="paginacion-superior row">
        		<div class="col-lg-4 col-md-6 col-lg-offset-8 col-md-offset-6">
        			<nav>
        			  <ul class="pagination">
                        {% if inmuebles.has_previous %}
                            <li>
                                <a href="?page={{ inmuebles.previous_page_number }}">&laquo;</a>
                            </li>
                        {% endif %}
                            <li><a href="">{{ inmuebles.number }}</a></li>
                        {% if inmuebles.has_next %}
                            <li>
                                <a href="?page={{ inmuebles.next_page_number }}">&raquo;</a>
                            </li>
                        {% endif %}
        			  </ul>
        			</nav>
        		</div>
        	</div>

            <!-- Propiedades -->
        	<div class="propiedades row">
        		<div class="col-lg-11 col-md-11 col-sm-11">
        			{% for inmueble in inmuebles %}
            			<div class="propiedad row">
            				<div class="foto col-lg-3">
                                {%for imagen in inmueble.imagenes.all|slice:":1"%}
                                    {%if forloop.counter == 1%}
                					<a href="/{{pais}}/inmuebles/{{inmueble.codigo}}">
                                        <img class="img-responsive" src="{{imagen.thumbnail.url}}" alt="">
                                    </a>
                                    {%endif%}
                                {%endfor%}
            				</div>
            				<div class="descripcion col-lg-4">
            					<strong>
            						<a class="text-uppercase" href="/{{pais}}/inmuebles/{{inmueble.codigo}}">
            							{{inmueble.titulo}}
            						</a>
            					</strong>
            					<p>
            						{{inmueble.tipo.nombre}}
                                    <br/>
                                    {{inmueble.ciudad.nombre}}
                                    <br/>
                                    {{inmueble.zona.nombre}}
            						<br/>
                                    <br/>
                                    <br/>
            						C&oacute;digo: {{inmueble.codigo}} 
            					</p>
            				</div>
            				<div class="varios col-lg-3 col-lg-offset-1">
            					<img class="img-responsive" src="{{inmueble.logo.url}}" alt="">
                                <p class="text-right">{{inmueble.tipo_obra}}</p>
                                <p class="text-right">
                					<a class="ver" href="/{{pais}}/inmuebles/{{inmueble.codigo}}">Ver</a>
                					<a class="comparar" href="">Comparar</a>
                					<a class="favoritos" href="">Favoritos</a>
                                </p>
            				</div>
            			</div>
                    {% endfor %}
        		</div>
        	</div>
        	
        	<div class="paginacion-inferior row">
        		<div class="col-lg-4 col-md-6 col-lg-offset-8 col-md-offset-6">
                    <nav>
                      <ul class="pagination">
                        {% if inmuebles.has_previous %}
                            <li>
                                <a href="?page={{ inmuebles.previous_page_number }}">&laquo;</a>
                            </li>
                        {% endif %}
                            <li><a href="">{{ inmuebles.number }}</a></li>
                        {% if inmuebles.has_next %}
                            <li>
                                <a href="?page={{ inmuebles.next_page_number }}">&raquo;</a>
                            </li>
                        {% endif %}
                      </ul>
                    </nav>
                </div>
        	</div>
        	<div class="logos-camara row">
        		<div class="col-lg-12 col-md-12 col-sm-12">
        			<img src="" alt="">
        		</div>
        	</div>
        </div>
    </div>
{% endblock content %}

<!-- Seccion donde se carga el JS -->
{%block js%}

{%endblock js%}