<!-- Archivo donde estan los bloques del home -->
{% extends "base.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% load humanize %}
{% load widget_tweaks %}

<!-- Bloque para scripts que se cargan en la plantilla base -->
{% block scripts %}

<!-- Estilos del index -->
<link rel="stylesheet" type="text/css" href="{% static 'files/css/home.css' %}">

{% endblock scripts %}

<!-- Header del home-->
{% block header_home %}
<div class="container">
    <!-- Carrousel del header -->
    <div class="carrousel container">
        <!-- Primer banner -->
        <div class="col-lg-3 col-md-3 col-sm-3">
            {% if banners %}
                <a class="banner-superior" href="{{ banners.0.url }}">
                    <img class="img-responsive" style="width: 100%;" src="{{ banners.0.imagen.url }}" alt="">
                </a>
            {% else %}
                <a class="banner-superior" href="">
                    <img class="img-responsive" style="width: 100%;" src="{% static 'files/img/banner-superior.png' %}" alt="">
                </a>
            {% endif %}
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {%for imagen in imagenes%}
                        <div class="item {%if forloop.counter == 1%}active{%endif%}">
                            <img src="{{imagen.imagen.url}}" alt="">
                            <div class="carousel-caption">
                                <p>{{imagen.nombre}}</p>
                            </div>
                        </div>
                    {%empty%}
                        <div class="item active">
                            <img src="{% static 'files/img/imagen-carrousel.png' %}" alt="">
                            <div class="carousel-caption">
                                <p></p>
                            </div>
                        </div>
                    {%endfor%}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock header_home%}

<!-- Boque del contenido de la pagina -->
{% block content %}
    <div class="container">
        <div class="banners col-lg-3 col-md-3 col-sm-3">
            {%for banner in banners%}
                {%if forloop.counter == 1%}
                    <!-- Barra de busqueda -->
                    <div class="container-fluid">
                        <div class="busqueda row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <form id="form" class="form" role="form" action="/{{pais}}/" method="GET">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <h5><strong>Buscar Inmuebles</strong></h5>
                                    </div>
                                    <div class="form-group">
                                        {% render_field buscadorF.ciudad class="form-control"%}
                                    </div>
                                    <div class="form-group">
                                        {% render_field buscadorF.zona class="form-control"%}
                                    </div>
                                    <div class="form-group">
                                        {% render_field buscadorF.tipo class="form-control"%}
                                    </div>
                                    <button class="btn btn-primary">
                                        Buscar
                                    </button>
                                    &nbsp;&nbsp;&nbsp;<a class="btn btn-primary" href="/{{pais}}/">Limpiar</a>
                                    <br>
                                    <br>
                                    <div class="form-group">
                                        <h5><strong>Filtrar</strong></h5>
                                    </div>
                                    <div class="form-group">
                                        <h5>Superficie m&sup2;:</h5>
                                    </div>
                                    <div class="form-group">
                                        {% render_field buscadorF.metros class="form-control"%}
                                    </div>
                                    <div class="form-group">
                                        <h5>Precio:</h5>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            {% render_field buscadorF.desde class="form-control desde" placeholder="Desde"%}
                                            {% render_field buscadorF.hasta class="form-control hasta" placeholder="Hasta"%}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h5>Moneda:</h5>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            {% render_field buscadorF.moneda class="form-control"%}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h5>Habitaciones:</h5>
                                    </div>
                                    <div class="form-group">
                                        {% render_field buscadorF.habitaciones class="form-control"%}
                                    </div>
                                    <button class="btn btn-primary">
                                        Filtrar
                                    </button>
                                    <br>
                                    <br>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="banner row-fluid">
                        <a class="{{banner.nombre}}" href="http://{{banner.url}}">
                            <img class="img-responsive" style="width: 100%;" src="{{banner.imagen.url}}" alt="">
                        </a>
                    </div>
                {% endif %}
            {%empty%}
                <!-- Barra de busqueda -->
                <div class="container-fluid">
                    <div class="busqueda row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <form id="form" class="form" role="form" action="/{{pais}}/" method="GET">
                                {% csrf_token %}
                                <div class="form-group">
                                    <h5><strong>Buscar Inmuebles</strong></h5>
                                </div>
                                <div class="form-group">
                                    {% render_field buscadorF.ciudad class="form-control"%}
                                </div>
                                <div class="form-group">
                                    {% render_field buscadorF.zona class="form-control"%}
                                </div>
                                <div class="form-group">
                                    {% render_field buscadorF.tipo class="form-control"%}
                                </div>
                                <button class="btn btn-primary">
                                    Buscar
                                </button>
                                &nbsp;&nbsp;&nbsp;<a class="btn btn-primary" href="/{{pais}}/">Limpiar</a>
                                <br>
                                <br>
                                <div class="form-group">
                                    <h5><strong>Filtrar</strong></h5>
                                </div>
                                <div class="form-group">
                                    <h5>Superficie m&sup2;:</h5>
                                </div>
                                <div class="form-group">
                                    {% render_field buscadorF.metros class="form-control"%}
                                </div>
                                <div class="form-group">
                                    <h5>Precio:</h5>
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        {% render_field buscadorF.desde class="form-control desde" placeholder="Desde"%}
                                        {% render_field buscadorF.hasta class="form-control hasta" placeholder="Hasta"%}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5>Moneda:</h5>
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        {% render_field buscadorF.moneda class="form-control"%}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5>Habitaciones:</h5>
                                </div>
                                <div class="form-group">
                                    {% render_field buscadorF.habitaciones class="form-control"%}
                                </div>
                                <button class="btn btn-primary">
                                    Filtrar
                                </button>
                                <br>
                                <br>
                        </div>
                    </div>
                </div>
                <div class="row-fluid banner">
                    <a class="banner-medio" href="">
                        <img class="img-responsive" style="width: 100%;" src="{% static 'files/img/banner-medio.png' %}" alt="">
                    </a>
                </div>
                <div class="row-fluid banner">
                    <a class="banner-inferior" href="">
                        <img class="img-responsive" style="width: 100%;" src="{% static 'files/img/banner-medio.png' %}" alt="">
                    </a>
                </div>
            {%endfor%}
        </div>
        <!-- Contenido de la pagina -->
        <div class="contenido col-lg-9 col-md-9">
        	<div class="paginacion-superior row">
        		<div class="col-lg-12 col-md-12 col-lg-offset-0 col-md-offset-0">
                        <div class="form-inline col-lg-6 col-md-3">
                            <label for="id_inmuebles">Mostrar:  {% render_field buscadorF.inmuebles_sup class="form-control"%} resultados por p&aacute;gina.</label>
                        </div>
                    <div class="form-group col-lg-3 col-md-3">
                        {% render_field buscadorF.orden class="form-control"%}
                    </div>
        			<nav>
        			  <ul class="pagination">
                        {% if inmuebles.has_previous %}
                            <li>
                                <a href="?{{query.urlencode}}&amp;page={{ inmuebles.previous_page_number }}">&laquo;</a>
                            </li>
                        {% endif %}
                            <li><a href="">{{ inmuebles.number }}</a></li>
                        {% if inmuebles.has_next %}
                            <li>
                                <a href="?{{query.urlencode}}&amp;page={{ inmuebles.next_page_number }}">&raquo;</a>
                            </li>
                        {% endif %}
        			  </ul>
        			</nav>
        		</div>
        	</div>

            <!-- Propiedades -->
        	<div class="propiedades row">
        		<div class="col-lg-11 col-md-11 col-sm-11">
        			{% for inmueble in inmuebles %}
        			<div class="propiedad row">
        				<div class="foto col-lg-3">
                            {%for imagen in inmueble.imagenes.all|slice:":1"%}
                                {%if forloop.counter == 1%}
            					<a href="/{{pais}}/inmuebles/{{inmueble.codigo}}">
                                    <img class="img-responsive" src="{{imagen.thumbnail.url}}" alt="">
                                </a>
                                {%endif%}
                            {%endfor%}
        				</div>
        				<div class="descripcion col-lg-5">
        					<strong>
        						<a class="text-uppercase" href="/{{pais}}/inmuebles/{{inmueble.codigo}}">
        							{{inmueble.titulo}}
        						</a>
        					</strong>
        					<p>
                                {{moneda_get}}
        						{{inmueble.tipo.nombre}}
                                <br/>
                                {{inmueble.ciudad.nombre}}
                                <br/>
                                {{inmueble.zona.nombre}}
        						<br/>
                                <br/>
        						<p class="text-danger"><strong>C&oacute;digo: {{inmueble.codigo}}</strong></p>
                                <br>
                                {%for modulo in inmueble.modulo_set.all|slice:":1"%}
                                    Desde: {{modulo.metros|floatformat|intcomma}} m&#178;{%if modulo.dormitorios != '0'%} ({{modulo.dormitorios}} dormitorios){%endif%};<br>
                                    {%if modulo.precio != 0%}
                                        {%if moneda_get == 'nacional'%}
                                            {{moneda.simbolo}} {{modulo.precio|mul:moneda.tasa|floatformat|intcomma}}
                                        {%elif moneda_get == 'usd'%}
                                            {{modulo.precio|floatformat|intcomma}} USD
                                        {%else%}
                                            {{moneda.simbolo}} {{modulo.precio|mul:moneda.tasa|floatformat|intcomma}} / {{modulo.precio|floatformat|intcomma}} USD
                                        {%endif%}
                                    {%endif%}
                                {%endfor%}
        					</p>
        				</div>
        				<div class="varios col-lg-3">
        					<img class="img-responsive" src="{{inmueble.logo.url}}" alt="">
                            <p class="text-right"><u>{{inmueble.tipo_obra}}</u></p>
                            <p class="text-right">
            					<a class="ver" href="/{{pais}}/inmuebles/{{inmueble.codigo}}">Ver</a> &nbsp;&nbsp;
            					<a class="favoritos" href="/{{pais}}/favoritos/agregar/{{inmueble.id}}/">Favorito</a>
                            </p>
        				</div>
        			</div>
                    {%empty%}
                    <h3>No se encontraron resultados, por favor redefine tu b&uacute;squeda.</h3>
                    {% endfor %}
        		</div>
        	</div>
        	
        	<div class="paginacion-inferior row">
        		<div class="col-lg-12 col-md-12 col-lg-offset-0 col-md-offset-0">
                        <div class="form-inline col-lg-6 col-md-3">
                            <label for="id_inmuebles">Mostrar:  {% render_field buscadorF.inmuebles_inf class="form-control"%} resultados por p&aacute;gina.</label>
                        </div>
                    </form>
                    <nav class="text-right">
                      <ul class="pagination">
                        {% if inmuebles.has_previous %}
                            <li>
                                <a href="?{{query.urlencode}}&amp;page={{ inmuebles.previous_page_number }}">&laquo;</a>
                            </li>
                        {% endif %}
                            <li>
                                <a href="">{{ inmuebles.number }}</a>
                            </li>
                        {% if inmuebles.has_next %}
                            <li>
                                <a href="?{{query.urlencode}}&amp;page={{ inmuebles.next_page_number }}">&raquo;</a>
                            </li>
                        {% endif %}
                      </ul>
                    </nav>
                </div>
        	</div>
        	<div class="logos-camara row">
        		<div class="col-lg-12 col-md-12 col-sm-12">
        			<img src="" alt="">
        		</div>
        	</div>
        </div>
    </div>
{% endblock content %}

<!-- Seccion donde se carga el JS -->
{% block js %}
<script type="text/javascript">
var zonas = {{ zonas|safe }};

function cargar_zonas(){
    var ciudad = $('#id_ciudad');
    var elem_zonas = $('#id_zona');

    ciudad = ciudad.val();

    if (ciudad != ""){
        elem_zonas.empty();
        elem_zonas.append('<option value="" selected="selected"> - Zona -</option>');
        $.each(zonas[ciudad], function(i, zona){
            elem_zonas.append('<option value="'+ i +'">' + zona + '</option>')
        });
    } else {
        elem_zonas.empty();
        elem_zonas.append('<option value="" selected="selected"> - Zona -</option>');
    }
}
$(document).on('change', '#id_ciudad', cargar_zonas);

/*Funcion para hacer submit en orden de resultados*/
$('#id_orden').change(function(){
    $('#form').submit();
});

/*Funcion para hacer submit en numero de inmuebles por pagina*/
$('#id_inmuebles_inf').change(function(){
    $('#id_inmuebles_sup').val(6);
    $('#form').submit();
});

/*Funcion para hacer submit en numero de inmuebles por pagina*/
$('#id_inmuebles_sup').change(function(){
    $('#id_inmuebles_inf').val(6);
    $('#form').submit();
});

/*Funcion para asignar un valor al formulario de paginas*/
$( document ).ready(function() {
    var paginas_sup = $('#id_inmuebles_sup').val();
    var paginas_inf = $('#id_inmuebles_inf').val();

    if (paginas_inf !=6){
        $('#id_inmuebles_sup').val(paginas_inf);
    }else if(paginas_sup !=6){
        $('#id_inmuebles_inf').val(paginas_sup);
    }
});

</script>
{% endblock js %}