{% extends "base.html" %}
{% load bootstrap3 %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block scripts %}
    
<!-- Estilos de la pagina-->
<link href="{{STATIC_URL}}files/css/login.css"   rel="stylesheet" type="text/css" />

{% endblock scripts %}

{% block content %}
<div class="container-fluid">
    <h2 class="text-center">Para acceder a los favoritos, necesitas estar registrado.</h2>
    <div class="container">
        <div class="row-fluid">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ingreso">
                <h3>Ya soy usuario</h3>
                <br>
                <form role="form" action="." method="POST">
                    {%csrf_token%}
                    {% if login.non_field_errors %}
                        {% for error in login.non_field_errors %}
                            {%if error != ''%}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                            {%endif%}
                        {% endfor %}
                    {%endif%}
                    <div class="form-group">
                        {% if login.user_name.errors %}
                            <div class="alert alert-danger">
                                {% for error in login.user_name.errors %}
                                    {%if error != ''%}
                                        <strong>{{ error|escape }}</strong>
                                        <br>
                                    {%endif%}
                                {% endfor %}
                            </div>
                        {%endif%}
                        <label for="user_name">Nombre de usuario</label>
                        {% render_field login.user_name class="form-control" %}
                    </div>
                    <div class="form-group">
                        {%if error_login != ''%}
                            <div class="alert alert-danger">
                                <strong>{{ error_login|escape }}</strong>
                            </div>
                        {%endif%}
                        {% if login.password.errors %}
                            {% for error in login.password.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {%endif%}
                        <label for="password">Contrase&ntilde;a</label>
                        {% render_field login.password class="form-control" %}
                    </div>
                    {% buttons %}
                        <button type="submit" class="btn btn-primary" name="login">Ingresar</button>
                    {% endbuttons %}
                </form>
                <br>
                <br>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 registro">
                <h3>Crear una cuenta</h3>
                <br>
                <form role="form" action="." method="POST">
                    {%if registrado%}
                    <div class="alert alert-success">
                        <strong>Usuario registrado con &eacute;xito!</strong>
                        <br>
                    </div>
                    {%endif%}
                    <div class="form-group">
                        {%csrf_token%}
                        {%  bootstrap_form registro %}
                    </div>
                    {% buttons %}
                        <button type="submit" class="btn btn-success" name="registro">
                            Registrarse
                        </button>
                    {% endbuttons %}
                </form>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock content %}