{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block scripts %}
    
<!-- Estilos de la pagina-->
<link href="{{STATIC_URL}}files/css/login.css"	 rel="stylesheet" type="text/css" />

{% endblock scripts %}

{% block content %}
<div class="container-fluid">
	<h2 class="text-center">Para acceder a los favoritos, necesitas estar registrado.</h2>
	<div class="container">
		<div class="row-fluid">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ingreso">
				<h3>Ya soy usuario</h3>
				<br>
		  		<form role="form" action="." method="POST">
		  			<div class="form-group">
						{%csrf_token%}
						{% bootstrap_form login %}
					</div>
					<button type="submit" class="btn btn-primary">Ingresar</button>
				</form>
				<br>
				<br>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 registro">
				<h3>Crear una cuenta</h3>
				<br>
		  		<form role="form" action="." method="POST">
		  			<div class="form-group">
						{%csrf_token%}
						{% 	bootstrap_form registro %}
					</div>
                    {% buttons %}
                        <br>
                        <button type="submit" class="btn btn-success">
                            Registrarse
                        </button>
                    {% endbuttons %}
				</form>
				<br>
				<br>
			</div>
		</div>
	</div>
</div>
{% endblock content %}