{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block scripts %}
    
<!-- Estilos de la pagina-->
<link href="{{STATIC_URL}}files/css/perfil.css"  rel="stylesheet" type="text/css" />

{% endblock scripts %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <h2>Enlaces r&aacute;pidos:</h2>
                    <div class="list-group">
                        <a href="/{{pais}}/perfil/" class="list-group-item">Perfil</a>
                        <a href="/{{pais}}/favoritos/" class="list-group-item">Ver Favoritos</a>
                        <a href="/{{pais}}/favoritos/enviar/" class="list-group-item">Enviar Favoritos</a>
                        <a href="#" class="list-group-item">Solicitar Reporte</a>
                        <a href="/{{pais}}/favoritos/pdf/" class="list-group-item" target="_new">Descargar Favoritos</a>
                        <a href="/{{pais}}/logout/" class="list-group-item">Salir</a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <h2>
                        Datos de usuario:
                    </h2>
                    <p class="text-left">
                        Nombre: {{request.user.first_name}}
                        <br>
                        Usuario: {{request.user.username}}
                        <br>
                        Email: {{request.user.email}}
                        <br>
                    </p>
                    <a href="/{{pais}}/perfil/editar/" title="" class="btn btn-primary">
                        Editar datos
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}