<!DOCTYPE html>
<html lang="es">
    {% load staticfiles %}
    {% load widget_tweaks %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="propiedades, casas, apartamentos, real state,Venezuela,Miami, Mexico, Ecuador, Costa Rica, Panama, Colombia">
        <link rel="SHORTCUT ICON" href="{% static 'files/img/favicon.ico' %}"/>
        <title>Equity</title>

        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery.js"></script>

        <!--CSS -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

        <!-- Optional theme -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">

        <!--JavaScript -->
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

        <!--Estilos-->
        <link rel="stylesheet" type="text/css" href="{% static 'files/css/index.css' %}">
    </head>
    <body>
        <!-- Sección interna de la página -->
        <div class="container-fluid">
        	<div class="row-fluid">
        		<div class="col-lg-4 col-md-4 col-sm-4 centering">
		        	<img class="text-center" src="{% static 'files/img/logo-blanco.png' %}" alt="">
					<br>
					<br>
		        	{% render_field PaisesForm.pais%}
	        	</div>
        	</div>
        </div>
    </body>

<!-- Seccion donde se carga el JS -->
<script>
$('#id_pais').change(function(){
    var pais = $(this).val();
    window.location.replace("/"+pais+"/");
});
</script>
</html>