/*Archivo de estilos para la base de la aplicacion
  Colores:
  Azul Claro:#0095d9;
  Gris:#4f4e4e;
  Azul Oscuro:#1a2e51;
*/

/*Estilos de la barra superior de la base*/
header .navbar{
	background: #4f4e4e;
	margin-bottom:0px;
}

body > div.row.titulo{
	color: #F6FFDE;
	background: #25A1A1;
}

.navbar-default{
	border-color: transparent;
}

body > header > nav > div > div > div > div.navbar-header > div{
	margin-top: 12%;
}

body > header > nav > div > div > div > div.navbar-header > div > a{
	font-size: 16px;
	color: #FFF;
}

body > header > nav > div > div > div > div.collapse.navbar-collapse.navHeaderCollapse.navheader > ul{
	margin-top: 0.8%;
}

body > header > nav > div > div > div > div.collapse.navbar-collapse.navHeaderCollapse.navheader > ul > li.pais{
	margin-top: 1%;
}

body{
	background-color: #FFFFFF;
}

body > header > nav > div > div > div > div.collapse.navbar-collapse.navHeaderCollapse.navheader > ul > li > a{
	color: #FFFFFF;
}

body > header > div.logo{
	background-color:#0095d9;
}

body > header > div.logo > div > div{
	padding: 1%;
}

body > div.container > div > div.col-lg-3{
	float: initial;
	margin-bottom: 2%;
}


/*Estilos de la barra inferior de la base*/
footer .navbar{
	background: #FFFFFF;	
}

body > footer > nav > div > div > div > div.collapse.navbar-collapse.navFooterCollapse.navfooter > ul > li > a, p{
	color: #4f4e4e;
}