/*Archivo de estilos para la base de la aplicacion
  Colores:
  Azul Claro:#0095d9;
  Gris:#4f4e4e;
  Azul Oscuro:#1a2e51;
  Marron Oscuro:#33302e;
  Marron Claro:#473d36;
*/

/*Estilos de la barra superior de la base*/
header .navbar{
	background: #4f4e4e;
	margin-bottom:0px;
}

body > div.row.titulo{
	color: #F6FFDE;
	background: #25A1A1;
}

.navbar-default{
	border-color: transparent;
}

body > header > div{
	margin-top: 2.7%;
}

body > div.container-fluid > div > div > form > div{
	margin-right: 5px;
}

body > div.container-fluid > div > div > form > div > div > button{
	width: 32px;
	height: 32px;
	padding: 0;
	margin-left: -34px !important;
	background-image: linear-gradient(to bottom,#FFFFFF 0,#FFFFFF 100%);
	border-width: 0px;
}

body > div.container-fluid > div > div > form > div > div > button:hover{
	background-color: transparent;
	background-image: linear-gradient(to bottom,#FFFFFF 0,#FFFFFF 100%);
}

body > div.container-fluid > div > div > form > div > div > button > span{
	color: #000000 !important;
}

body > header > nav > div > div > div > div.collapse.navbar-collapse.navHeaderCollapse.navheader > ul{
	width: 88%;
}

body > header > nav > div > div > div > div.collapse.navbar-collapse.navHeaderCollapse.navheader > ul > li:nth-child(7){
	width: 25%;
}

body > header > nav > div > div > div > div.collapse.navbar-collapse.navHeaderCollapse.navheader > ul > li:nth-child(7) > form > div > div{
	width: 67%;
}

body > header > nav > div > div > div > div.navbar-header > div > a{
	font-size: 16px;
	color: #FFF;
}

body > header > nav > div > div > div > div.navbar-header > div > a:hover{
	text-decoration: none;
}

body > header > div > div > div{
	padding-bottom: 0.6%;
	padding-top: 0.6%;
}

body{
	background-color: #FFFFFF;
}

body > header > nav > div > div > div > div.collapse.navbar-collapse.navHeaderCollapse.navheader > ul > li > a{
	color: #FFFFFF;
}

body > header > div > div > div > img{
	margin-left: 32%;
	position: absolute;
}

body > header > div.container-fluid{
    height: 100%;
    display: table;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
	background-color:#0095d9;
}

body > header > div > div.row-fluid {
    height: 100%;
    display: table-cell;
    width: 100%;
}

body > header > div > div > div.centering{
    float: none;
    margin: 0 auto;
}

body > header > div > div > div > img{
	float:right;
}

body > header > div.logo > div > div{
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 0;
	padding-left: 0;
}

/*Estilos del header de busqueda*/
body > div.container-fluid > div.busqueda.row{
	background-color: #0095d9;
}	

body > div.container-fluid >  div > div > p{
	margin:0 0 0 0;
	font-size: 3px;
}

body > div.container-fluid > div.busqueda.row > div{
	padding: 4px;
}

body > div.container-fluid >  div.busqueda.row > div > form{
	display: table;
	margin-right: auto;
	margin-left: auto;
}

/*Estilos barra lateral de banners*/
body > div.container > div > div.banners.col-lg-3 > a > img{
	float: initial;
	margin-bottom: 2%;
}

/*Estilos del contenido*/
body > div.contenido{
	margin-top: 0.5%;
}


/*Estilos de la barra inferior de la base*/

body > footer > div.container.primario{
	background-color: #33302e;
	padding-left: 5%;
	padding-right: 5%;
}

body > footer > div.container.primario > div.row.paises{
	padding-top: 4%;
	padding-bottom: 1%;
	border-bottom-color: white;
	border-bottom-style: solid;
	border-bottom-width: 4px;
}

body > footer > div.container.primario > div.row.paises > div > ul > li > a > strong,
body > footer > div.container.primario > div.row.paises > div > ul > li > abbr{
	color: white;
}

body > footer > div.container.primario > div.row.paises > div > ul > li{
	line-height: 0.7;
}

body > footer > div.container.primario > div.row.paises > div:nth-child(1),
body > footer > div.container.primario > div.row.paises > div:nth-child(1) > ul:nth-child(1){
	float: left;
}

body > footer > div.container.primario > div.row.paises > div:nth-child(2) > ul > li > a > img{
	float: right;
}

body > footer > div.container.primario > div.row.paises > div:nth-child(2) > ul > li > a > h4{
	float: left;
}

body > footer > div.container.primario > div.row.paises > div:nth-child(2) > ul > li:nth-child(1) > a > h4{
	margin-left: 44px;
}

body > footer > div.container.primario > div.row.paises > div:nth-child(2) > ul > li:nth-child(2) > a > h4{
	margin-top:18px;
}

body > footer > div.container.primario > div.row.paises > div:nth-child(2) > ul > li:nth-child(3) > a > h4{
	margin-left: 30px;
}

body > footer > div.container.primario > div.row.paises > div:nth-child(1) > ul:nth-child(2){
	float: left;
	margin-left: 15%;
}

body > footer > div.container.primario > div.row.paises > div:nth-child(2){
	float: right;
}

body > footer > div.container.primario > div.row.paises > div:nth-child(2) > ul{
	float: right;
}

body > footer > div.container.primario > div.row.paises > div:nth-child(2) > ul > li > a > h4 > strong{
	color: white;
}

body > footer > div.container.primario > div.row.redes{
	padding-top: 2%;
	padding-bottom: 2%;
}

body > footer > div.container.primario > div.row.redes > div{
	text-align: center;
}

body > footer > div.container.secundario{
	background-color: #473d36;
}

body > footer > div.container.secundario > div > div > form > div > label > h5{
	color:white;
}

body > footer > div.container.secundario > div > div{
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 25%;
	padding-right: 25%;
}

/*Estilos de Bootstrap*/
body > header > nav > div > div > div > div.collapse.navbar-collapse.navHeaderCollapse.navheader > ul > li:nth-child(7) > form > div > div > button{
	background-image: -webkit-linear-gradient(white 0%, white 100%)!important;
	background-image: -o-linear-gradient(white 0%, white 100%)!important;
	background-image: linear-gradient(white 0%, white 100%)!important;	
	background-color: #fff !important;
	border-color: #ccc !important;
	border-left-color: #fff !important;
	border-radius: 3px;
	margin-left: -5px;
}

body > header > nav > div > div > div > div.collapse.navbar-collapse.navHeaderCollapse.navheader > ul > li:nth-child(7) > form > div > div > button > span{
	color: black;
}