/*Archivo de estilos para la base de la aplicacion
  Colores:
  Azul Claro:#0095d9;
  Gris:#4f4e4e;
  Azul Oscuro:#1a2e51;
  Marron Oscuro:#33302e;
  Marron Claro:#473d36;
*/

body > header > nav{
    height: 115px !important;
}

body > header > div.container-fluid {
    height: 64px !important;
}