/*Archivo de estilos para el home de la aplicacion
  Colores:
  Azul Claro:#0095d9;
  Gris:#4f4e4e;
  Azul Oscuro:#1a2e51;
*/

/*Estilos del carrousel*/
body > div.header-home > div > div.carrousel.container{
	margin-top: 0.5%;
}

body > div.header-home > div.row{
	margin-top: 4%;
}

#carousel-example-generic > div > div.item.active > img{
	margin-right:auto;
	margin-left:auto;
}

#carousel-example-generic > a.left.carousel-control,
#carousel-example-generic > a.right.carousel-control{
	background-image: none;
}

#carousel-example-generic > a.right.carousel-control > span.glyphicon.glyphicon-chevron-right,
#carousel-example-generic > a.left.carousel-control > span.glyphicon.glyphicon-chevron-left{
	color: #000;
}

body > div.contenido.container > div > div.contenido.col-lg-9 > div.propiedades.row > div > div > div.varios.col-lg-3.col-lg-offset-1 > img{
	height: 80px;
	float:right;
}

body > div.contenido.container > div > div.contenido.col-lg-9 > div.propiedades.row > div > div > div.varios.col-lg-3.col-lg-offset-1 > p{
	float: right;
	color: #000;
	font-size: 15px;
}

body > div.contenido.container > div > div.contenido.col-lg-9 > div.propiedades.row > div > div > div.varios.col-lg-3.col-lg-offset-1 > p > a.comparar,
body > div.contenido.container > div > div.contenido.col-lg-9 > div.propiedades.row > div > div > div.varios.col-lg-3.col-lg-offset-1 > p > a.favoritos{
	color: #000;
	font-size: 15px;
}

/*Estilos contenido*/
body > div.contenido.container > div > div.contenido.col-lg-9 > div.paginacion-superior.row > div > form{
	float: left;
}

body > div.contenido.container > div > div.contenido.col-lg-9 > div.paginacion-superior.row > div > nav{
	float: right;
}

body > div.contenido.container > div > div.contenido.col-lg-9 > div.paginacion-superior.row > div > nav > ul{
	margin: 0px 0;
}

body > div.contenido.container > div > div.banners.col-lg-3 > div > div{
	padding:3%;
	background-color: #d6e5f0;
	margin-top: 5%;
	margin-bottom: 5%;
}

body > div.contenido.container > div > div.banners.col-lg-3 > div.banner {
    padding-top: 5px;
    padding-bottom: 5px;
}

body > div.contenido.container > div > div.banners.col-lg-3 > div > div > div > form > div.form-group,
body > div.contenido.container > div > div.banners.col-lg-3 > div > div > div > form > button{
	margin-top: 2%;
}

body > div.contenido.container > div > div.contenido.col-lg-9 > div.propiedades.row{
	margin-top: 4%;
}

body > div.contenido.container > div > div.contenido.col-lg-9 > div.propiedades.row > div > div > div.descripcion.col-lg-4 > strong > a{
	color: #000;
	font-size: 16px;
}
body > div.contenido.container > div > div.contenido.col-lg-9 > div.propiedades.row > div > div > div.descripcion.col-lg-4 > strong > a:hover{
	text-decoration: none;
}

body > div.contenido.container > div > div.contenido.col-lg-9 > div.propiedades.row > div > div > div.descripcion.col-lg-4 > p{
	font-size: 15px;
}
body > div.contenido.container > div > div.contenido.col-lg-9 > div.propiedades.row > div > div.propiedad{
	margin-bottom: 4%;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	padding-bottom: 1%;
}
/*Estilos de bootstrap*/
