/*Archivo de estilos para el home de la aplicacion
  Colores:
  Azul Claro:#0095d9;
  Gris:#4f4e4e;
  Azul Oscuro:#1a2e51;
*/

/*Estilos de propiedades*/
div.contenido > div.propiedades > div > div > div{
	padding-right: 3%;
}

div.contenido > div.propiedades > div > div.row > div > div.propiedad {
	max-height: 295px;
}

div.contenido > div.propiedades > div > div > div > div > a{
	text-decoration: none;
	color:white;
}

div.contenido > div.propiedades > div > div > div > div > a > div.inmueble > div > h5.ciudad,
div.contenido > div.propiedades > div > div > div > div > a > div.inmueble > div > h6.datos{
	display: inline;
}

div.contenido.col-lg-9.col-md-9.col-sm-9.col-xs-9 > div.propiedades.row > div > div > div > div > a > div > div > h5.titulo{
	margin-bottom: 0px;
}

div.contenido > div.propiedades.row > div > div > div > div > a > div.inmueble > div.datos-inmueble{
	background-color: rgba(26, 46, 81, 0.5);
	position: absolute;
    bottom: 0;
    left: 0;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

/*Estilos de filtro*/
#id_moneda{
	display: inline-block;
	width: 56%
}

#id_hasta{
	display: inline-block;
	width: 42%
}

.pagination {
    margin: 4px 0;
    float: right;
}

/*Estilos del header de busqueda*/
.buscador{
	display: table;
	margin-right: auto;
	margin-left: auto;
}

.buscador div button{
	background-image: -webkit-linear-gradient(white 0%, white 100%)!important;
	background-image: -o-linear-gradient(white 0%, white 100%)!important;
	background-image: linear-gradient(white 0%, white 100%)!important;	
	background-color: #fff !important;
	border-color: #ccc !important;
	border-left-color: #fff !important;
	border-radius: 3px !important;
	margin-left: -5px !important;
}

#id_palabra{
	width: 100%;
}

/*Estilos contenido*/
div.contenido.col-lg-9 > div.paginacion-superior.row > div > div > form{
	float: left;
}

div.contenido.col-lg-9 > div.paginacion-superior.row > div > div > nav{
	float: right;
}

div.contenido.col-lg-9 > div.paginacion-superior.row > div > div > nav > ul,
div.contenido.col-lg-9 > div.paginacion-inferior.row > div > div > nav > ul{
	margin: 0px 0;
}

div.banners.col-lg-3 > form > div > div{
	padding:3%;
	background-color: #d6e5f0;
	margin-bottom: 3%;
}

div.banners.col-lg-3 > div.banner {
    padding-top: 5px;
    padding-bottom: 5px;
}

div.banners.col-lg-3 > form > div > div > div  > div.form-group{
	margin-top: 2%;
}

div.contenido.col-lg-9 > div.propiedades.row{
	margin-top: 3%;
	margin-bottom: 3%;
}

div.contenido.col-lg-9 > div.propiedades.row > div > div > div.descripcion.col-lg-4 > strong > a{
	color: #000;
	font-size: 16px;
}

div.contenido.col-lg-9 > div.propiedades.row > div > div > div.descripcion.col-lg-4 > strong > a:hover{
	text-decoration: none;
}

div.contenido.col-lg-9 > div.propiedades.row > div > div > div.descripcion.col-lg-4 > p{
	font-size: 15px;
}
div.contenido.col-lg-9 > div.propiedades.row > div > div.propiedad{
	margin-bottom: 4%;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	padding-bottom: 1%;
}