/*Archivo de estilos para los inmuebles de la aplicacion
  Colores:
  Azul Claro:#0095d9;
  Gris:#4f4e4e;
  Azul Oscuro:#1a2e51;
*/

/*Estilos del Slider*/
.selected img {
	opacity:0.5;
}

#myCarousel > div > div{
	margin-right: auto;
	margin-left: auto;
	height: 760px;
}

#slider-thumbs > ul > li{
	cursor: pointer;
}

div.contenido > div.info-base > div.botones{
	display: flex;
}

div.contenido > div.info-base > div > button.video{
  display: block;
}

div.contenido > div.info-base > div > button.video{
	margin-right: 3%;
}

div.contenido > div.info-base > div.botones > a{
	color: #FFFFFF;
}

#carousel > div > div > img{
	margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

/*Estilos de info de inmueble*/
div.contenido > div.info-base > div.links > p.text-right{
	margin-bottom: 0px;
}

div.contenido > div.info-base > div.agente > img{
	height: 170px;
	margin-left: auto;
	margin-right: auto;
}

#twitter-widget-0{
	width: 84px !important;
}

div.contenido > div.info-base > div.links > div.fb-share-button{
	float: right;
}

#ubicacion > div > div > #mapa{
	position:inherit !important;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 500px;
}

div.contenido > div.informacion > div > div{
	padding: 2%
}

div.contenido > div.info-base > div > a.favoritos{
	color:#000000;
	font-size: 9pt;
	border:solid 1px;
}

div.contenido > div.info-base > div > a.favoritos:hover{
	text-decoration: none;
}

div.contenido > div.info-base > div > a.favoritos > span{
	color: red;
	font-size: 9pt;
}

/*Boostrap modificado*/
div.contenido > div.informacion > div > ul{
	border-bottom: 0px;
}

.carousel-control.right,
.carousel-control.left{
	background-image: none;
}

div.modal-backdrop.fade.in{
	z-index: 0 !important;
}

/*Video*/
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}