/*Archivo de estilos para los inmuebles de la aplicacion
  Colores:
  Azul Claro:#0095d9;
  Gris:#4f4e4e;
  Azul Oscuro:#1a2e51;
*/

/*Estilos del Slider*/
.selected img {
	opacity:0.5;
}

#myCarousel > div > div > img{
	margin-right: auto;
	margin-left: auto;
	height: 400px;
}

#slider-thumbs > ul > li{
	cursor: pointer;
}

/*Estilos de info de inmueble*/
body > div.contenido{
	margin-top: 3.5%;
}

body > div.contenido.container > div.row.info-base > div.col-lg-4.col-md-4.col-sm-12.links > p.text-right{
	margin-bottom: 0px;
}

body > div.contenido.container > div.row.info-base > div.col-lg-4.col-md-4.col-sm-12.agente > img{
	height: 170px;
	margin-left: auto;
	margin-right: auto;
}

#twitter-widget-0{
	width: 84px !important;
}

body > div.contenido.container > div.row.info-base > div.col-lg-4.col-md-4.col-sm-12.links > div.fb-share-button{
	float: right;
}

#ubicacion > div > div > #mapa{
	position:inherit !important;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 500px;
}

body > div.contenido.container > div.row.informacion > div > div{
	padding: 2%
}

/*Boostrap modificado*/
body > div.contenido.container > div.row.informacion > div > ul{
	border-bottom: 0px;
}

.carousel-control.right,
.carousel-control.left{
	background-image: none;
}