/*Archivo de estilos para el login de la aplicacion
  Colores:
  Azul Claro:#0095d9;
  Gris:#4f4e4e;
  Azul Oscuro:#1a2e51;
*/

.container-fluid {
    height: 100%;
    display: table;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.centering {
    float: none;
    margin: 0 auto;
}


body > div > div > div > div > div.registro{
    border-left-style: solid;
    padding-left: 7%;
}

body > div > div > div > div > div.ingreso{
    padding-right: 7%;
}