{% extends "base.html" %}
{% block content %}

<!-- Estilos de la pagina-->
<link href="{{STATIC_URL}}files/css/login.css"	 rel="stylesheet" type="text/css" />
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<h3>Login del admin</h3>
			</div>
			<div class="col-md-4"></div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<br>
		  		<form role="form" action="." method="POST">
		  			<div class="form-group">
						{%csrf_token%}
						{{ login.as_p }}
					</div>
					<button type="submit" class="btn btn-primary">Ingresar</button>
				</form>
				<br>
				<br>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
{% endblock content %}