<!-- Archivo donde estan los bloques del home -->
{% extends "base.html" %}
{% load mathfilters %}
{% load staticfiles %}

<!-- Bloque para scripts que se cargan en la plantilla base -->
{% block scripts %}

<!-- Estilos del index -->
<link rel="stylesheet" type="text/css" href="{% static 'files/css/inmueble.css' %}">
{% endblock scripts %}

<!-- Boque del contenido de la pagina -->
{% block content %}
	<div class="row info-base">
		<div class="col-lg-4 col-md-4 col-sm-12 descripcion">
			<h3 class="text-left">
				<strong>{{inmueble.titulo}}</strong>
			</h3>
			<h4 class="text-left text-uppercase">
				<strong>{{inmueble.tipo}}</strong>
			</h4>
			<p>
				{{inmueble.zona.nombre}}
				<br/>
				C&oacute;digo: {{inmueble.codigo}}
			</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 agente">
			<img class="thumbnail img-responsive" src="{% static inmueble.logo.url %}" alt="">
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 links">
			<p class="text-right">
				<a class="comparar" href="">
					Comparar
				</a>
				<br>
				<a class="favoritos" href="">
					<span class="glyphicon glyphicon-star-empty"></span> Favoritos
				</a>
				<br>
				<a class="imprimir" href="" onclick="">
					<span class="glyphicon glyphicon-print"></span> Imprimir
				</a>
				<br>
				<!--<a class="recomendar" href="" >
					<span class="glyphicon glyphicon-envelope"></span> Recomendar
				</a>-->
				<br>
				<a class="twitter-share-button text-right" href="https://twitter.com/share" data-url="Url a compartir" data-text="Texto a colocar">
					Twitear
				</a>
				<br>
				<div class="fb-share-button text-right" data-href="https://developers.facebook.com/docs/plugins/" data-layout="icon_link"></div>
			</p>
		</div>
	</div>
	<br>
	<div class="row carousel">
		<div class="col-lg-12 col-md-12 col-sm-12">
		    <!-- main slider carousel -->
		    <div class="row">
		        <div class="col-lg-12 col-md-12" id="slider">
	                <div class="col-md-12" id="carousel-bounding-box">
	                    <div id="myCarousel" class="carousel slide">
	                        <!-- main slider carousel items -->
	                        <div class="carousel-inner">
	                        	{%for imagen in imagenes%}
	                            <div class="{%if forloop.counter == 1%}active{%endif%} item" data-slide-number="{{forloop.counter}}">
	                                <img class="img-responsive" src="{{imagen.imagen.url}}" alt="">
	                            </div>
	                            {%empty%}
	                            <div class="item" data-slide-number="1">
	                              <img src="http://placehold.it/1200x480/&amp;text=one" class="img-responsive">
	                            </div>
	                            <div class="item" data-slide-number="2">
	                                <img src="http://placehold.it/1200x480&amp;text=two" class="img-responsive">
	                            </div>
	                            <div class="item" data-slide-number="3">
	                                <img src="http://placehold.it/1200x480&amp;text=three" class="img-responsive">
	                            </div>
	                            {%endfor%}
	                        </div>
	                        <!-- main slider carousel nav controls --> 
	                        <a class="carousel-control left" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>

	                        <a class="carousel-control right" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	                    </div>
	                </div>
		        </div>
		    </div>
		    <!--/main slider carousel-->
			<br>
		    <!-- thumb navigation carousel -->
		    <div class="col-lg-12 col-md-12 hidden-sm hidden-xs" id="slider-thumbs">

				<!-- thumb navigation carousel items -->
				<ul class="list-inline">
					{%for imagen in imagenes%}
					<li>
						<a id="carousel-selector-{{forloop.counter}}" class="{%if forloop.counter == 1%}selected{%endif%}">
							<img src="{{imagen.thumbnail.url}}" class="img-responsive">
						</a>
					</li>
					{%empty%}
					<li>
						<a id="carousel-selector-0" class="selected">
							<img src="http://placehold.it/80x60&amp;text=one" class="img-responsive">
						</a>
					</li>

					<li>
						<a id="carousel-selector-1">
							<img src="http://placehold.it/80x60&amp;text=two" class="img-responsive">
						</a>
					</li>
					<li>
						<a id="carousel-selector-2">
							<img src="http://placehold.it/80x60&amp;text=three" class="img-responsive">
						</a>
					</li>
					{%endfor%}
				</ul>
		    </div>
		</div>
	</div>
	<div class="row informacion">
		<div class="tabpanel col-lg-12 col-md-12 col-sm-12">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">Informaci&oacute;n General</a></li>
				<li role="presentation"><a href="#ubicacion" aria-controls="ubicacion" role="tab" data-toggle="tab">Ubicaci&oacute;n</a></li>
				<li role="presentation"><a href="#contactar" aria-controls="contactar" role="tab" data-toggle="tab">Contactar al constructor</a></li>
				<li role="presentation"><a href="#plusvalia" aria-controls="plusvalia" role="tab" data-toggle="tab">Plusval&iacute;a</a></li>
			</ul>

			 <!-- Tab panels -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="general">
					<div class="informacion-basica row">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<p class="text-left">
								<strong>Direcci&oacute;n:</strong> {{inmueble.direccion}}<br>
								<strong>Ciudad:</strong> {{inmueble.ciudad.nombre}}<br>
								<strong>Zona:</strong> {{inmueble.zona.nombre}}<br>
								<strong>Tipo de obra: </strong>{{inmueble.tipo_obra}}<br>
								<strong>Fecha de entrega: </strong>{{inmueble.fecha_entrega}}<br>

							</p>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<p class="text-left">
								<strong>Construye: </strong>{{inmueble.agente.nombre}}<br>
								{%for telefono in telefonosAgente%}
									<strong>{{telefono.tipo}}:</strong> {{telefono.numero}}<br>
								{%endfor%}
							</p>
						</div>
					</div>
					<div class="tabla-info row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<table class="table table-bordered">
							  <tr class="active">
								<td>Mt2</td>
								<td>Dormitorios</td>
								<td>Ba&ntilde;os</td>
								<td>Estacionamiento</td>
								<td>{{moneda.nombre}} / $</td>
								<td>Plano</td>
							  </tr>
							  {%for modulo in modulos%}
							  <tr>
								<td class="text-center">{{modulo.metros}}</td>
								<td class="text-center">{{modulo.dormitorios}}</td>
								<td class="text-center">{{modulo.banos}}</td>
								<td class="text-center">{{modulo.estacionamientos}}</td>
								<td class="text-center">{{moneda.simbolo|div:modulo.precio}} / {{modulo.precio}}</td>
								<td class="text-center">
									<!-- Button trigger modal -->
									<a href="" type="button" class="" data-toggle="modal" data-target="#{{modulo.tipo}}Modal">
									Ver
									</a>
								</td>

								<!-- Modal -->
								<div class="modal fade" id="{{modulo.tipo}}Modal" tabindex="-1" role="dialog" aria-labelledby="{{modulo.tipo}}ModalModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="{{modulo.tipo}}ModalModalLabel">Plano</h4>
											</div>
											<div class="modal-body">
												<img src="{{modulo.plano.url}}" alt="">
											</div>
										</div>
									</div>
								</div>
							  </tr>
							  {%empty%}
							  <tr>
							  	<td>No disponible</td>
							  </tr>
							  {%endfor%}
							</table>
						</div>
					</div>
					<div class="caracteristicas row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<strong>Descripci&oacute;n:</strong>
							<p class="text-justify">
							{{inmueble.descripcion}}
							</p>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12">
							<strong>&Aacute;reas Comunes:</strong>
							<p class="text-justify">
							{%for area in inmueble.areas_comunes.all%}
							<span class="glyphicon glyphicon-ok"></span> {{area}}
							{%endfor%}
							</p>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="ubicacion">
					<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-8">
							<!-- Mapa de google maps -->
							<div class="mapa" id="mapa">
								<input type="hidden" id="lat" value='10.4913239'>
								<input type="hidden" id="lng" value='-66.8746169'>
						    </div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="contactar">
					<dir class="row">
						<div class="col-lg-4 col-md-4 col-sm-4">
							<img class="img-responsive" src="{{MEDIA_URL}}{{inmueble.agente.logo}}" alt="">
							<p class="datos text-left">
								<strong>Agente: {{inmueble.agente.nombre}}</strong><br>
								<strong>Correo: {{inmueble.agente.correo}}</strong>
							</p>
							<p class="telefonos text-left">
								{%for telefono in telefonosAgente%}
									<strong>{{telefono.tipo}}:</strong> {{telefono.numero}}<br>
								{%endfor%}
							</p>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<form action="" method="POST">	
				                {%csrf_token%}
								<div class="form-group">
									{{ContactoAgenteForm.nombre}}<br>
									{{ContactoAgenteForm.correo}}<br>
									{{ContactoAgenteForm.telefonos}}<br>
									{{ContactoAgenteForm.comentario}}<br>
									<button type="submit" class="btn btn-primary">Enviar</button>
								</div>
							</form>
						</div>
					</dir>
				</div>
				<!-- <div role="tabpanel" class="tab-pane fade" id="plusvalia">Plusvalia</div> -->
			</div>
		</div>
	</div>
{% endblock content %}

<!-- Seccion donde se carga el JS -->
{%block js%}
<!-- Codigo para el carrousel -->
<script>
$('#myCarousel').carousel({
	interval: 99999999999
});

// handles the carousel thumbnails
$('[id^=carousel-selector-]').click( function(){
	var id_selector = $(this).attr("id");
	var id = id_selector.substr(id_selector.length -1);
	id = parseInt(id);
	$('#myCarousel').carousel(id);
	$('[id^=carousel-selector-]').removeClass('selected');
	$(this).addClass('selected');
});

// when the carousel slides, auto update
$('#myCarousel').on('slid', function (e) {
	var id = $('.item.active').data('slide-number');
	id = parseInt(id);
	$('[id^=carousel-selector-]').removeClass('selected');
	$('[id=carousel-selector-'+id+']').addClass('selected');
});
</script>

<!-- Codigo de twitter -->
<script type="text/javascript">
	window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>

<!-- Codigo de facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=260585997287170&version=v2.0";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<!-- Google Maps -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false">
</script>

<script>
var map;
function initialize() {
	/*Inicializacion de variables y toma de argumentos de latitud y longitud*/
	var mapOptions = {
		zoom: 17,
		center: new google.maps.LatLng({{ inmueble.latitud }}, {{ inmueble.longitud }})
	};
  	map = new google.maps.Map(document.getElementById('mapa'),
      mapOptions);

  	var marker = new google.maps.Marker({
	    position: map.getCenter(),
	    map: map,
	    title: 'Click para hacer zoom'
  	});

}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
{%endblock js%}