<!-- Archivo donde estan los bloques del home -->
{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

<!-- Bloque para scripts que se cargan en la plantilla base -->
{% block scripts %}

<!-- Estilos del index -->
<link rel="stylesheet" type="text/css" href="{% static 'files/css/home.css' %}">

{% endblock scripts %}

<!-- Header del home-->
{% block header_home %}

	<div class="container-fluid">

		<div class="row">
			<div class="col-lg-12">
				<p>&nbsp;</p>
			</div>
		</div>
		<!-- Barra de busqueda -->
		<div class="busqueda row">
			<div class="col-lg-9 col-md-9 col-sm-9 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
				<form class="form-inline" role="form" action=".">
                    <div class="form-group">
                        <select class="form-control" name="ciudad" id="ciudad">
                        	<option value="ciudad">Ciudad</option>
                            <option value="caracas" selected="true">Caracas</option>
                            <option value="maracay">Maracay</option>
                            <option value="pto la cruz">Pto La Cruz</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="zona" id="zona">
                        	<option value="zona">Zona</option>
                            <option value="el hatillo" selected="true">El Hatillo</option>
                            <option value="las mercedes">Las Mercedes</option>
                            <option value="chacao">Chacao</option>
                            <option value="altamira">Altamira</option>
                            <option value="el cafetal">El Cafetal</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="tipo-inmueble" id="tipo-inmueble">
                        	<option value="" disabled selected="true">Tipo de Inmueble</option>
                            <option value="casa">Casa</option>
                            <option value="apartamento">Apartamento</option>
                            <option value="galpon">Galpon</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="orden" id="orden">
                        	<option value="" disabled selected>Ordenado Por</option>
                            <option value="casa">Zona</option>
                            <option value="apartamento">Tipo</option>
                            <option value="galpon">Precio</option>
                        </select>
                    </div>
                    <div class="form-group inner-addon right-addon">
                        <span class="glyphicon glyphicon-barcode form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Código Equity">
                    </div>
                    <div class="form-group inner-addon right-addon">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Búsqueda">
                    </div>
                </form>
			</div>
		</div>
	</div>
{% endblock header_home%}


<!-- Boque del contenido de la pagina -->
{% block content %}

    <form id="form" role="form" enctype="multipart/form-data" method="post" action="">
    {% csrf_token %}
        {% bootstrap_form form %}
        <div>
            {{ imagen_formset.management_form }}
            <p>Imágenes</p>
            {% for form in imagen_formset %}
                {% bootstrap_form form %}
            {% endfor %}
            <h3>Campos Obligatorios</h3>
            {{ campotipo_formset.management_form }}
            {% for form in campotipo_formset %}
                {% bootstrap_form form %}
            {% endfor %}
            <h3>Campos Opcionales</h3>
            {{ campo_formset.management_form }}
            {% for form in campo_formset %}
                {% bootstrap_form form %}
            {% endfor %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                     Publicar
                </button>
            {% endbuttons %}
        </div>
        <div>
            <!-- Mapa de google maps -->
            Coordenadas:
            <!-- Campo que posee un text input -->
            {{ DireccionForm.coord }}
            <div class="mapa" id="map">
                <input type="text" id="lat" value='{{lat}}'>
                <input type="text" id="lng" value='{{lng}}'>
            </div>
            (Clickee en el mapa la ubicaci&oacute;n de su local)
        </div>
    </form>
{% endblock content %}

{% block js %}

<!-- Mapa de google maps -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false">
</script>
<script >
var map;
function initialize(){
    /*Inicializacion de variables y toma de argumentos de latitud y longitud*/
    var lat = parseFloat(document.getElementById('lat').value.replace(/,/g,'.') );
    var lng = parseFloat(document.getElementById('lng').value.replace(/,/g,'.') );
    var markers = [];
    var coord = document.getElementById('id_coord');

    /*Inicializacion del mapa*/
    var mapOptions = {
        zoom: 13,
        center: new google.maps.LatLng(lat, lng)
    };

    map = new google.maps.Map(document.getElementById('map'), mapOptions);

    /*Funciones para agregar el marcador y eliminar el anterior*/
    google.maps.event.addListener(map, 'click', function(event){
        clearMarkers();
        markers = [];
        placeMarker(event.latLng);
        coord.value = event.latLng.k + ', ' + event.latLng.B;
    });

    function clearMarkers() {
        setAllMap(null);
    }

    function setAllMap(map) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }

    function placeMarker(location) {
        var marker = new google.maps.Marker({
            position: location, 
            map: map
        });
        markers.push(marker);
    }
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock js %}