{% extends "base_admin.html" %}
{% block content %}

<!-- Estilos de la pagina-->
<link href="{{MEDIA_URL}}files/css/login.css"	 rel="stylesheet" type="text/css" />
	<div class="container">
		<div class="row">			
			<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="panel panel-primary">
					  <div class="panel-heading">
					    <h3 class="panel-title "><a href="/{{pais}}/admin/perfil">Administrador</a></h3>
					  </div>
					  <div class="panel-body">
					    
					  </div>
					</div>
				</div>
			<div class="col-md-3"></div>
		</div>
	</div>
{% endblock content %}