{% extends "base_admin.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}

<!-- Estilos de la pagina-->
<link href="{{STATIC_URL}}files/css/admin.css"	 rel="stylesheet" type="text/css" />
	<div class="col-lg-10 col-md-10 col-sm-8 col-xs-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title "><a href="/{{pais}}/admin/perfil">Administrador</a></h3>
			</div>
			<div class="panel-body">
				<h4>Agregar Agente:</h4>
				<form id="form" role="form" enctype="multipart/form-data" method="post" action="">
				{% csrf_token %}
					{% bootstrap_field AgenteForm.nombre %}
					{% bootstrap_field AgenteForm.correo %}
					{% bootstrap_field AgenteForm.logo %}
					<br>
					{{ TelefonoAgenteForm.management_form }}
					{% bootstrap_formset TelefonoAgenteForm %}
					{% buttons %}
                        <button type="submit" class="btn btn-primary">
                            Agregar
                        </button>
                    {% endbuttons %}
				</form>
			</div>
		</div>
	</div>
{% endblock content %}