{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="propiedades, casas, apartamentos, real state,Venezuela,Miami">
        <link rel="SHORTCUT ICON" href="{% static 'files/img/ico.jpg' %}"/>
        <title>Equity</title>
 
         <!-- Modernizr -->
        <script src="{% static 'files/js/modernizr.custom.80055.js' %}"></script>

        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery.js"></script>

        <!--Bootstrap Remoto !!!-->
        <!-- Latest compiled and minified CSS 
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->

        <!-- Optional theme -->
        <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">-->

        <!-- Latest compiled and minified JavaScript
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        -->
        <!--Bootstrap Local-->
        <!--CSS -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

        <!-- Optional theme -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">

        <!--JavaScript -->
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

        <!--Estilos-->
        <link rel="stylesheet" type="text/css" href="{% static 'files/css/base.css' %}">

        <!-- BLoque para cargar cualquier script en el header -->
        {% block scripts %}
            
        {% endblock scripts %}
    </head>
    <body>
        <!-- Header de la página -->
        {% block header %}
        <header>
            <nav class="navbar navbar-static-top navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                            <div class="navbar-header">
                                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                </button>
                                <div class="navbar-brand">
                                    <a href="/">
                                        English
                                    </a>
                                </div>
                            </div>
                            <div class="collapse navbar-collapse navHeaderCollapse navheader">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="pais">
                                        <form role="form" action=".">
                                            <div class="form-group">
                                                <select class="form-control" name="paises" id="paises">
                                                    <option value="colombia">Colombia</option>
                                                    <option value="costa rica">Costa Rica</option>
                                                    <option value="ecuador">Ecuador</option>
                                                    <option value="eeuu">EEUU</option>
                                                    <option value="mexico">M&eacute;xico</option>
                                                    <option value="panama">Panam&aacute;</option>
                                                    <option value="venezuela" selected="true">Venezuela</option>
                                                </select>
                                            </div>
                                        </form>
                                    </li>
                                    <li>
                                        <a href="/">Inmuebles</a>
                                    </li>
                                    <li>
                                        <a href="/">Info Pa&iacute;s</a>
                                    </li>
                                    <li>
                                        <a href="/">EQNews</a>
                                    </li>
                                    <li>
                                        <a href="/">EQAssist</a>
                                    </li>
                                    <li>
                                        <a href="/">Favoritos</a>
                                    </li>
                                    <li>
                                        <a href="/">Comparativo</a>
                                    </li>
                                    <li>
                                        <a href="/">Login</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="logo container-fluid">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                        <img class="img-responsive" src="{% static 'files/img/logo-blanco.png' %}" alt="Equity Media">
                    </div>
                </div>
            </div>
        </header>
        {% endblock header %}
        
        <!-- Header del home -->
        <div class="header-home">
            {% block header_home %}
            {% endblock header_home %}
        </div>

        <!-- Sección de titulo de la pagina -->
        {% block header_title %}
        {% endblock header_title %}

        <!-- Sección interna de la página -->
        <div class="contenido container">
            <div class="banners row">
                <div class="banners col-lg-3">
                    <a class="banner-superior" href="">
                        <img class="img-responsive" src="{% static 'files/img/banner-superior.png' %}" alt="">
                    </a>
                    <a class="banner-medio" href="">
                        <img class="img-responsive" src="{% static 'files/img/banner-medio.png' %}" alt="">
                    </a>
                    <a class="banner-inferior" href="">
                        <img class="img-responsive" src="{% static 'files/img/banner-medio.png' %}" alt="">
                    </a>
                    <a class="revista" href="">
                    <img class="img-responsive" src="{% static 'files/img/revista.png' %}" alt="">
                    </a>
                </div>
                <!-- Contenido de la pagina -->
                <div class="contenido col-lg-9">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>

        <!-- Footer de la página -->
        {% block footer %}
        <footer>
            <div class="container">
                <div class="pre-footer row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <img src="" alt="">
                        <a href=""><strong>L&eacute;anos</strong></a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <img src="" alt="">
                        <a href=""><strong>Conls&uacute;ltenos</strong></a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <img src="" alt="">
                        <a href=""><strong>Ll&aacute;menos</strong></a>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-static-bottom navbar-default" role="navigation">
                <div class="container-fluid">
                    <!--<button class="navbar-toggle" data-toggle="collapse" data-target=".navFooterCollapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </button>-->
                    <div class="collapse navbar-collapse navFooterCollapse navfooter">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/"><strong>Colombia</strong></a>
                            </li>
                            <li>
                                <a href="/"><strong>Costa Rica</strong></a>
                            </li>
                            <li>
                                <a href="/"><strong>Ecuador</strong></a>
                            </li>
                            <li>
                                <a href="/"><strong>EEUU</strong></a>
                            </li>
                            <li>
                                <a href="/"><strong>M&eacute;xico</strong></a>
                            </li>
                            <li>
                                <a href="/"><strong>Panam&aacute;</strong></a>
                            </li>
                            <li>
                                <a href="/"><strong>Venezuela</strong></a>
                            </li>
                        </ul>
                    </div>
                    <div class="collapse navbar-collapse navFooterCollapse navfooter">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/"><strong>Contacto</strong></a>
                            </li>
                            <li>
                                <a href="/"><strong>Revista Virtual</strong></a>
                            </li>
                            <li>
                                <a href="/"><strong>EQAssist</strong></a>
                            </li>
                            <li>
                                <a href="/"><strong>EQNews</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </footer>
        {% endblock footer %}
    </body>

<!-- Seccion donde se carga el JS -->
{%block js%}

{%endblock js%}
</html>