<!DOCTYPE html>
<html lang="es">
    {% load staticfiles %}
    {% load widget_tweaks %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="propiedades, casas, apartamentos, real state,Venezuela,Miami, Mexico, Ecuador, Costa Rica, Panama, Colombia">
        <link rel="SHORTCUT ICON" href="{% static 'files/img/favicon.ico' %}"/>
        <title>Equity</title>
 
         <!-- Modernizr -->
        <script src="{% static 'files/js/modernizr.custom.80055.js' %}"></script>

        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery.js"></script>

        <!--Bootstrap Local-->
        <!--CSS -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

        <!-- Optional theme -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">

        <!--JavaScript -->
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

        <!--Estilos-->
        <link rel="stylesheet" type="text/css" href="{% static 'files/css/base.css' %}">

        <!-- BLoque para cargar cualquier script en el header -->
        {% block scripts %}
            
        {% endblock scripts %}
    </head> 
    <body>
        <!-- Header de la página -->
        {% block header %}
        <header>
            <nav class="navbar navbar-fixed-top navbar-default">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="navbar-header">
                                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                </button>
                                <div class="navbar-brand">
                                    <a href="/">
                                        Contacto
                                    </a>
                                    |
                                    <a href="/">
                                        English
                                    </a>
                                </div>
                            </div>
                            <div class="collapse navbar-collapse navHeaderCollapse navheader">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="pais">
                                        <form role="form" id="paises" method="POST" class="navbar-form navbar-right paises" action="." name="paises">
                                            <div class="form-group">
                                                {%csrf_token%}
                                                {{paisesF.pais}}
                                            </div>
                                        </form>
                                    </li>
                                    <li>
                                        <a href="/{{pais}}/">Home</a>
                                    </li>
                                    <li>
                                        <a href="/">Info Pa&iacute;s</a>
                                    </li>
                                    <li>
                                        <a href="/">EQNews</a>
                                    </li>
                                    <li>
                                        <a href="/">EQAssist</a>
                                    </li>
                                    <li>
                                        <a href="/">Favoritos</a>
                                    </li>
                                    <li>
                                        <a href="/{{pais}}/admin/login/">Login</a>
                                    </li>
                                    <li>
                                        <form class="navbar-form navbar-right" role="form" action="/{{pais}}/" method="GET">
                                            {% csrf_token %}
                                            <div class="form-group inner-addon right-addon">
                                                <div class="input-group-btn">
                                                {% render_field buscadorF.palabra class="form-control" placeholder="Búsqueda"%}
                                                    <button class="btn btn-primary" id="">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Sección interna de la página -->
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-lg-10 col-md-10 col-sm-10 centering">
                        <a href="/{{pais}}/">
                            <img class="text-center" src="{% static 'files/img/logo-blanco.png' %}" alt="">
                        </a>
                        <img class="text-center" src="{% static 'files/img/revista.png' %}" alt="">
                    </div>
                </div>
            </div>
        </header>

        {% endblock header %}
        
        <!-- Header del home -->
        <div class="header-home">
            {% block header_home %}
            {% endblock header_home %}
        </div>

        <!-- Sección de titulo de la pagina -->
        {% block header_title %}
        {% endblock header_title %}

        <!-- Sección interna de la página -->
        <div class="contenido container">
            {% block content %}
            {% endblock content %}
        </div>

        <!-- Footer de la página -->
        {% block footer %}
        <footer>
            <!--Footer principal-->
            <div class="container primario">
                <div class="row paises">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <ul class="media-list">
                            <li class="media">
                                <a href="/CO/"><strong>Colombia, Cali</strong></a>
                            </li>
                            <li class="media">
                                <a href="/CO/"><strong>Colombia, Bogot&aacute;</strong></a>
                            </li>
                            <li class="media">
                                <a href="/CR/"><strong>Costa Rica</strong></a>
                            </li>
                            <li class="media">
                                <a href="/US/"><strong>EEUU, Miami</strong></a>
                            </li>
                            <li class="media">
                                <a href="/MX/"><strong>M&eacute;xico, DF.</strong></a>
                            </li>
                            <li class="media">
                                <a href="/PA/"><strong>Panam&aacute;, Ciudad de Panam&aacute;</strong></a>
                            </li>
                            <li class="media">
                                <a href="/VE/"><strong>Venezuela, Caracas</strong></a>
                            </li>
                        </ul> 
                        <ul class="media-list">
                            <li class="media">
                                <abbr title="Teléfono">(+57)-2-891.24.15</abbr>
                            </li>
                            <li class="media">
                                <abbr title="Teléfono">(+57)-1-486.49.14</abbr>
                            </li>
                            <li class="media">
                                <abbr title="Teléfono">506-40.00.19.67</abbr>
                            </li>
                            <li class="media">
                                <abbr title="Phone">(+1)-305-770.61.42</abbr>
                            </li>
                            <li class="media">
                                <abbr title="Teléfono">(+52)-55-47.77.28.87</abbr>
                            </li>
                            <li class="media">
                                <abbr title="Teléfono">507-833.69.96</abbr>
                            </li>
                            <li class="media">
                                <abbr title="Teléfono">(+58)-212-710.21.34</abbr>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <ul class="media-list">
                            <li class="media">
                                <a href="">
                                    <h4><strong>L&eacute;anos</strong></h4>
                                    <img src="{% static 'files/img/leanos.png' %}" alt="">
                                    
                                </a>
                            </li>
                            <li class="media">
                               <a href="">
                                    <h4><strong>Conls&uacute;ltenos</strong></h4>
                                    <img src="{% static 'files/img/consultenos.png' %}" alt="">
                                </a>
                            </li>
                            <li class="media">
                                <a href="">
                                    <h4><strong>Ll&aacute;menos</strong></h4>
                                    <img src="{% static 'files/img/llamenos.png' %}" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row redes">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-6 col-sm-offset-0 col-xs-offset-0">
                        <img class="correo" src="{% static 'files/img/correo.png' %}" alt="">
                        <a href="https://www.facebook.com/RevistaEquity"><img class="fb" src="{% static 'files/img/fb.png' %}" alt=""></a>
                        <a href="https://twitter.com/EquityLA"><img class="tw" src="{% static 'files/img/tw.png' %}" alt=""></a>
                        <a href="https://plus.google.com/u/0/112322346471753138539/about"><img class="g+" src="{% static 'files/img/g+.png' %}" alt=""></a>
                        <a href="https://www.youtube.com/channel/UCb2tj5241TiUEZKqY9XEYBA"><img class="yt" src="{% static 'files/img/yt.png' %}" alt=""></a>
                        <a href="http://www.pinterest.com/EquityLA/"><img class="pn" src="{% static 'files/img/pn.png' %}" alt=""></a>
                        <img class="in" src="{% static 'files/img/in.png' %}" alt="">
                    </div>
                </div>
            </div>
            <!--Footer secundario-->
            <div class="container secundario">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form class="form-inline" role="form" action="/{{pais}}/" method="POST">
                        {%csrf_token%}
                            <div class="form-group">
                                <label for="form-control"><h5>Suscr&iacute;base a nuestro Newsletter EQNEWS</h5></label>
                                <input class="form-control" type="text" placeholder="Email">
                                <button class="btn btn-primary">Suscribirse</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock footer %}
    </body>

<!-- Seccion donde se carga el JS -->
<script>
$('#id_pais').change(function(){
    var pais = $(this).val();
    window.location.replace("/"+pais+"/");
});
</script>
{%block js%}
{%endblock js%}
</html>


<!--
<div class="container">
    <div class="pre-footer row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <a href="">
                <img src="{% static 'files/img/leanos.png' %}" alt="">
                <strong>L&eacute;anos</strong>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <a href="">
                <img src="{% static 'files/img/consultenos.png' %}" alt="">
                <strong>Conls&uacute;ltenos</strong>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <a href="">
                <img src="{% static 'files/img/llamenos.png' %}" alt="">
                <strong>Ll&aacute;menos</strong>
            </a>
        </div>
    </div>
</div>
<nav class="navbar navbar-static-bottom navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse navFooterCollapse navfooter">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/CO/"><strong>Colombia</strong></a>
                </li>
                <li>
                    <a href="/CR/"><strong>Costa Rica</strong></a>
                </li>
                <li>
                    <a href="/EC/"><strong>Ecuador</strong></a>
                </li>
                <li>
                    <a href="/US/"><strong>EEUU</strong></a>
                </li>
                <li>
                    <a href="/MX/"><strong>M&eacute;xico</strong></a>
                </li>
                <li>
                    <a href="/PA/"><strong>Panam&aacute;</strong></a>
                </li>
                <li>
                    <a href="/VE/"><strong>Venezuela</strong></a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse navFooterCollapse navfooter">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/"><strong>Contacto</strong></a>
                </li>
                <li>
                    <a href="/"><strong>Revista Virtual</strong></a>
                </li>
                <li>
                    <a href="/"><strong>EQAssist</strong></a>
                </li>
                <li>
                    <a href="/"><strong>EQNews</strong></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
-->