<!-- Archivo donde estan los bloques del home -->
{% extends "base_admin.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

<!-- Bloque para scripts que se cargan en la plantilla base -->
{% block scripts %}

<!-- Estilos del index -->
<link rel="stylesheet" type="text/css" href="{% static 'files/css/admin.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
{% endblock scripts %}

<!-- Boque del contenido de la pagina -->
{% block content %}
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title "><a href="{% url 'inmuebles:detalle' pais inmueble.id %}">{{ inmueble.titulo }}</a></h3>
                {{request.view}}
            </div>
            <div class="panel-body">
                <h4>Agregar módulo: </h4>
                <form id="form" role="form" enctype="multipart/form-data" method="post" action="">
                {% csrf_token %}
                    {% bootstrap_field form.tipo %}
                    {% bootstrap_field form.metros %}
                    {% bootstrap_field form.banos %}
                    {% bootstrap_field form.dormitorios %}
                    {% bootstrap_field form.estacionamientos %}
                    {% bootstrap_field form.precio %}
                    {% bootstrap_field form.plano %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                             Agregar
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
<!-- Mapa de google maps -->
<script src="{% static 'files/js/jquery.formset.js' %}"></script>
<script src="{% static 'files/js/jquery-ui.min.js' %}"></script>
{% endblock js %}