{% extends "base_admin.html" %}
{% block content %}

<!-- Estilos de la pagina-->
<link href="{{STATIC_URL}}files/css/admin.css"	 rel="stylesheet" type="text/css" />
		<div class="col-lg-10 col-md-10 col-sm-8 col-xs-6">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title "><a href="/{{pais}}/admin/inmuebles">Inmueble</a></h3>
			  </div>
			  <div class="panel-body">
			    <h3>{{ inmueble.titulo }}</h3>
			    <strong>Código:</strong> {{ inmueble.codigo }}<br />
			    <strong>Descripción:</strong> {{ inmueble.descripcion }}<br />
			    <strong>Fecha entrega:</strong> {{ inmueble.fecha_entrega }}<br />
			    <strong>Tipo obra:</strong> {{ inmueble.tipo_obra }}<br />
			    <strong>Tipo inmueble:</strong> {{ inmueble.tipo }}<br />
                <strong>Ciudad:</strong> {{ inmueble.ciudad }}<br />
                <strong>Zona:</strong> {{ inmueble.zona }}<br />
                <strong>Dirección:</strong> {{ inmueble.direccion }}<br />
                <strong>Agente:</strong> {{ inmueble.agente }}<br />
                <strong>Clicks Página:</strong> {{ clicks.cantidad }}<br />
                <strong>Vistas:</strong> {{ vistas.cantidad }}<br />
                <strong>Clicks Skype:</strong> {{ skype.cantidad }}<br />
                <h4>Módulos</h4>
                <a href="{% url 'inmuebles:agregar_modulo' pais inmueble.id %}" class="btn btn-sm btn-primary">
                    Agregar módulo
                </a>
				{%if modulos%}
                <br>
                <br>
					<ul class="list-group">
						{%for modulo in modulos%}
							<li class="list-group-item">
								<a href="">{{modulo.tipo}}</a>
								<a href="eliminar-modulo/{{modulo.id}}/" class="eliminar">
									Eliminar<span class="glyphicon glyphicon-trash"></span>
								</a>
		                        <a href="editar-modulo/{{modulo.id}}/" class="editar">
		                          Editar<span class="glyphicon glyphicon-pencil"></span>
		                        </a>
							</li>
						{%endfor%}
					</ul>
				{%endif%}
			  </div>
			</div>
		</div>
{% endblock content %}

{% block js %}
	
{% endblock js %}