<!-- Archivo donde estan los bloques del home -->
{% extends "base_admin.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

<!-- Bloque para scripts que se cargan en la plantilla base -->
{% block scripts %}

<!-- Estilos del index -->
<link rel="stylesheet" type="text/css" href="{% static 'files/css/home.css' %}">

{% endblock scripts %}

<!-- Boque del contenido de la pagina -->
{% block content %}
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title "><a href="/{{pais}}/admin/perfil">Administrador</a></h3>
			</div>
			<div class="panel-body"><form id="form" role="form" enctype="multipart/form-data" method="post" action="">
                {% csrf_token %}
					{% bootstrap_field tipos.tipo %}
				</form>
			</div>
		</div>
    </div>
{% endblock content %}

{% block js %}
	
<script>
$('#id_tipo').change(function(){
    var tipo = $(this).val();
    window.location.replace("/{{pais|safe}}/admin/inmuebles/publicar/"+tipo+"/");
});
</script>
{% endblock js %}