<!-- Archivo donde estan los bloques del home -->
{% extends "base_admin.html" %}

{% load staticfiles %}

<!-- Bloque para scripts que se cargan en la plantilla base -->
{% block scripts %}

<!-- Estilos del index -->
<link rel="stylesheet" type="text/css" href="{% static 'files/css/home.css' %}">

{% endblock scripts %}

<!-- Boque del contenido de la pagina -->
{% block content %}
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title "><a href="/{{pais}}/admin/perfil">Administrador</a></h3>
				</div>
				<div class="panel-body">
					<div class="foto col-lg-4 text-center">
						<a href="{% url 'inmuebles:publicar' pais 'Apartamento' %}">
						<img class="img-responsive" src="{% static 'files/img/apartamento.png' %}" alt="Apartamento">
						Apartamento
						</a>
					</div>
					<div class="foto col-lg-4 text-center">
						<a href="{% url 'inmuebles:publicar' pais 'Casa' %}">
						<img class="img-responsive" src="{% static 'files/img/casa.png' %}" alt="Casa">
						<span class="glyphicon glyphicon-home"></span>
						Casa
						</a>
					</div>
					<div class="foto col-lg-4 text-center">
						<a href="{% url 'inmuebles:publicar' pais 'Oficina' %}">
						<img class="img-responsive" src="{% static 'files/img/oficina.png' %}" alt="Oficina">
						<span class="glyphicon glyphicon-briefcase"></span>
						Oficina
						</a>
					</div>
				</div>
			</div>
        </div>
	</div>
{% endblock content %}