<!-- Archivo donde estan los bloques del home -->
{% extends "base_admin.html" %}

{% load staticfiles %}

<!-- Bloque para scripts que se cargan en la plantilla base -->
{% block scripts %}

<!-- Estilos del index -->
<link rel="stylesheet" type="text/css" href="{% static 'files/css/home.css' %}">

{% endblock scripts %}

<!-- Boque del contenido de la pagina -->
{% block content %}
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title "><a href="/{{pais}}/admin/perfil">Administrador</a></h3>
			</div>
			<div class="panel-body">
				{% for tipo in tipos %}
				<div class="foto col-lg-3 text-center">
					<a href="{% url 'inmuebles:publicar' pais tipo %}">
					<span class="glyphicon glyphicon-home"></span>
					{{tipo.nombre}}
					</a>
				</div>
				{%endfor%}
			</div>
		</div>
    </div>
{% endblock content %}