{% extends "base_admin.html" %}
{% load bootstrap3 %}
{% block content %}
    <!-- Estilos de la pagina-->
    <link href="{{STATIC_URL}}files/css/admin.css"   rel="stylesheet" type="text/css" />
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title "><a href="/{{pais}}/admin/perfil">Administrador</a></h3>
          </div>
          <div class="panel-body">
            Im&aacute;genes:
            <ul class="list-group">
                <form id="form" role="form" enctype="multipart/form-data" method="post" action="">
                {% csrf_token %}
                {{ InmuebleForm.management_form }}
                    {% bootstrap_formset InmuebleForm %}
                {% buttons %}
                    <button type="submit" class="btn btn-success">
                        Agregar
                    </button>
                {% endbuttons %}
                </form>
            </ul>
          </div>
        </div>
        <a href="/VE/admin/inmuebles/" class="btn btn-warning">
            Volver
        </a>
    </div>
{% endblock content %}

{% block js %}
<script>
</script>
{% endblock js %}