{% extends "base_admin.html" %}
{% block content %}

<!-- Estilos de la pagina-->
<link href="{{STATIC_URL}}files/css/admin.css"	 rel="stylesheet" type="text/css" />
	    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-6">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title "><a href="/{{pais}}/admin/perfil">Administrador</a></h3>
			  </div>
			  <div class="panel-body">
			    Inmuebles
				<ul class="list-group">
					{% for inmueble in inmuebles %}
						<li class="list-group-item">
							<a href="{% url 'inmuebles:detalle' pais inmueble.id %}">{{inmueble.titulo}}</a>
							<a href="eliminar/{{inmueble.id}}/" class="eliminar">
								Eliminar<span class="glyphicon glyphicon-trash"></span>
							</a>
	                        <a href="editar/{{inmueble.id}}/" class="editar">
	                          Editar<span class="glyphicon glyphicon-pencil"></span>
	                        </a>
							<a href="{% url 'inmuebles:detalle' pais inmueble.id %}" class="detalle">
								Detalle<span class="glyphicon glyphicon-list-alt"></span>
							</a>
							<a href="{% url 'inmuebles:imagenes_inmuebles' pais inmueble.id %}" class="detalle">
								Imágenes<span class="glyphicon glyphicon-camera"></span>
							</a>
						</li>
					{%endfor%}
				</ul>
			  </div>
			</div>
		</div>
{% endblock content %}

{% block js %}
	
{% endblock js %}