<!-- Archivo donde estan los bloques del home -->
{% extends "base_admin.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

<!-- Bloque para scripts que se cargan en la plantilla base -->
{% block scripts %}

<!-- Estilos del index -->
<link rel="stylesheet" type="text/css" href="{% static 'files/css/admin.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
{% endblock scripts %}

<!-- Boque del contenido de la pagina -->
{% block content %}
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title "><a href="/{{pais}}/admin/perfil">Administrador</a></h3>
                {{request.view}}
            </div>
            <div class="panel-body">
                <h4>Agregar Inmueble: </h4>
                <form id="form" role="form" enctype="multipart/form-data" method="post" action="">
                {% csrf_token %}
                    {% bootstrap_field form.titulo %}
                    {% bootstrap_field form.codigo %}
                    {% bootstrap_field form.logo %}
                    {% bootstrap_field form.descripcion %}
                    {% bootstrap_field form.areas_comunes %}
                    {# {% bootstrap_form AreaComunForm%} #}
                    {% bootstrap_field form.ciudad %}
                    {% bootstrap_field form.zona %}
                    {% bootstrap_field form.direccion %}
                    <input id="pac-input" class="controls" type="text" placeholder="Introduzca una direccion">
                    <div id="type-selector" class="controls">
                      <input type="radio" name="type" id="changetype-all" checked="checked">
                      <label for="changetype-all">Todo</label>

                      <input type="radio" name="type" id="changetype-establishment">
                      <label for="changetype-establishment">Establecimietos</label>

                      <input type="radio" name="type" id="changetype-address">
                      <label for="changetype-address">Direcciones</label>

                      <input type="radio" name="type" id="changetype-geocode">
                      <label for="changetype-geocode">Geocodigos</label>
                    </div>
                     <div class="form-group">
                        <label>Ubicación</label>
                        <div class="mapa" id="map-canvas">
                        </div>
                        {{ form.latitud.as_hidden }}
                        {{ form.longitud.as_hidden }}
                    </div>
                    {% bootstrap_field form.fecha_entrega %}
                    {% bootstrap_field form.tipo_obra %}
                    {% bootstrap_field form.agente %}
                    <div class="form-group">
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                 Publicar
                            </button>
                        {% endbuttons %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
<!-- Mapa de google maps -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script src="{% static 'files/js/jquery.formset.js' %}"></script>
<script src="{% static 'files/js/jquery-ui.min.js' %}"></script>
<script>
  $(function() {
    $( "#id_fecha_entrega" ).datepicker({ dateFormat: 'dd/mm/yy' });
  });
  </script>
<script type="text/javascript">
var zonas = {{ zonas|safe }};

function cargar_zonas(){
    var ciudad = $('#id_ciudad');
    var elem_zonas = $('#id_zona');

    ciudad = ciudad.val();

    if (ciudad != ""){
        elem_zonas.empty();
        elem_zonas.append('<option value="" selected="selected"> -----</option>');
        $.each(zonas[ciudad], function(i, zona){
            console.log(zona);
            elem_zonas.append('<option value="'+ i +'">' + zona + '</option>')
        });
    } else {
        elem_zonas.empty();
        elem_zonas.append('<option value="" selected="selected"> -----</option>');
    }
}
$(document).on('change', '#id_ciudad', cargar_zonas);
</script>
<script>
var map;
function initialize() {
    var markers = [];
    var lat = $('#id_latitud');
    var lon = $('#id_longitud');
    var mapOptions = {
    zoom: 4,
    center: new google.maps.LatLng(15.152880, -73.702163)
    };
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    /*Funciones para agregar el marcador y eliminar el anterior*/
    google.maps.event.addListener(map, 'click', function(event){
        clearMarkers();
        markers = [];
        placeMarker(event.latLng);
        lat.val(event.latLng.A);
        lon.val(event.latLng.F);
    });

    function clearMarkers() {
        setAllMap(null);
    }

    function setAllMap(map) {
        for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(map);
        }
    }
    
    function placeMarker(location) {
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
        markers.push(marker);
    }

    /*Codigo de autocompletacion*/
    var input = /** @type {HTMLInputElement} */(
      document.getElementById('pac-input'));

    var types = document.getElementById('type-selector');
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.bindTo('bounds', map);

    var infowindow = new google.maps.InfoWindow();
    var marker = new google.maps.Marker({
        map: map,
        anchorPoint: new google.maps.Point(0, -29)
    });

    google.maps.event.addListener(autocomplete, 'place_changed', function() {
        infowindow.close();
        marker.setVisible(false);
        var place = autocomplete.getPlace();
        if (!place.geometry) {
            return;
        }

        // If the place has a geometry, then present it on a map.
        if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
        } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);  // Why 17? Because it looks good.
        }
        marker.setIcon(/** @type {google.maps.Icon} */({
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(35, 35)
        }));
        marker.setPosition(place.geometry.location);
        marker.setVisible(false);

        var address = '';
        if (place.address_components) {
        address = [
        (place.address_components[0] && place.address_components[0].short_name || ''),
        (place.address_components[1] && place.address_components[1].short_name || ''),
        (place.address_components[2] && place.address_components[2].short_name || '')
        ].join(' ');
        }

        infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
        infowindow.open(map, marker);
    });

    // Sets a listener on a radio button to change the filter type on Places
    // Autocomplete.
    function setupClickListener(id, types) {
        var radioButton = document.getElementById(id);
        google.maps.event.addDomListener(radioButton, 'click', function() {
            autocomplete.setTypes(types);
        });
    }

    setupClickListener('changetype-all', []);
    setupClickListener('changetype-address', ['address']);
    setupClickListener('changetype-establishment', ['establishment']);
    setupClickListener('changetype-geocode', ['geocode']);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock js %}